/**

    THIS IS THE CSS FOR FOR THE WELCOME PAGE, THIS FILE CONTAINS CUSTOM ITEMS
    ONLY NEEDED FOR THE WELCOME PAGE

 */

.contentBoxIndexTop {
    background-color: #ffffff7b;
    padding: 20px;
    margin: 50px auto;
    margin-top: 150px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-row-index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.homePageGifs {
    width: 21%;
    margin: 0 7px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contentBoxIndexBottom {
    background-color: #ffffff7b;
    padding: 20px;
    margin: 20px auto;
    margin-bottom: 50px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Random 'stickers' across page */

.img-stickerBlackCat {
    position: absolute;
    top: 120px;
    right: 230px;
    width: 150px;
    height: auto;
}

.img-stickerTapeTopPageBegin {
    position: absolute;
    top: 140px;
    left: 140px;
    transform: rotate(-30deg);
    width: 250px;
    height: auto;
}

.img-stickerTapeTopPageEnd {
    position: absolute;
    top: 640px;
    right: 130px;
    transform: rotate(-35deg);
    width: 250px;
    height: auto;
}

.img-stickerTapeBottomPageBegin {
    position: absolute;
    top: 890px;
    left: 500px;
    transform: rotate(5deg);
    width: 250px;
    height: auto;
}

.img-stickerStars {
    position: absolute;
    top: 900px;
    left: 150px;
    transform: rotate(5deg);
    width: 100px;
    height: auto;
}
